.env
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
# Ignore data files but keep directory structure
data/raw/images/*
!data/raw/images/.gitkeep
data/raw/telegram_messages/*
!data/raw/telegram_messages/.gitkeep

target/
dbt_packages/
logs/
*.session
scraping_session.session
